body {
    background-color: #E6E6E9;
}

img {
    user-select: none;  
}

.title {
    float: left;
    margin-top: 0px;
}

.topnav a {
    position: relative;
    background-color: #66666E;
    color: #F4F4F6;
    padding: 10px;
    float: right;
    text-decoration: none;
    z-index: 1000
}

.topnav a.active {
    background-color: #000;
}

.immune-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #bbb;
}

.immune-item {
    text-align: center;
    width: 15%;
    margin: 10px;
}

.immune-item img {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.hover-zoom {
    position: relative;
    transform: translate(0, 0) scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.hover-zoom:hover {
    transform: scale(1.08);
}

.immune-item:has(.is-fullscreen) {
    z-index: 998;
}

.hover-zoom.is-fullscreen {
    z-index: 999;   
    margin: 0;
}

.section-break {
    flex-basis: 100%;
    width: 100%;
    margin: 20px 0; 
}

.immune-item {
    transition: filter 0.7s ease, opacity 0.7s ease;
}

.is-fullscreen {
    backdrop-filter: blur(5px);
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
}
.sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;

    max-width: 50%; 
}

/* todo: replace filter with backdrop-filter, redo style.css*/
/* Color palette: 
    Black: #000000
    Dim Grey: #66666E
    Rosy Granite: #9999A1
    Alabaster Grey: #E6E6E9
    Platinum: #F4F4F6
*/